<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://thymeleaf.org ">

<div class="card mb-2" style="background: linear-gradient(rgb(175, 176, 182), rgb(245, 245, 245));"
     th:each="salon : ${salonsList}" th:fragment="salons">
    <div class="row g-0">
        <div class="col-md-4 mb-2">
            <a th:href="@{/salon/{salonId}(salonId= ${salon.id})}">
                <img th:src="@{${salon.imageNames == null || salon.imageNames.isEmpty() ? '/noimage.jpg' : '/img/' + salon.imageNames[0]}}"
                     class="img-fluid rounded float-left"
                     style="margin: auto"
                     alt="No image"/>
            </a>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <a th:href="@{/salon/{id}(id= ${salon.id})}">
                            <h3 class="card-title font-weight-bold" th:text="${salon.name}"></h3>
                        </a>
                        <h6 class="card-title"
                            th:text="${salon.city} + ', ' + ${salon.address}"></h6>
                    </div>
                </div>
                <p class="card-text" th:text="'Opens: ' + ${salon.startTime}"></p>
                <p class="card-text" th:text="'Closes: ' + ${salon.endTime}"></p>

                <a sec:authorize="isAuthenticated()"
                   th:href="@{/salon/{salonId}/appointment/create(salonId= ${salon.id})}"
                   class="btn btn-primary"
                   th:text="'Book an appointment'"></a>
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                   th:if="${#authentication.getPrincipal().getUsername()} == ${salon.ownerUsername}"
                   th:href="@{/salon/{salonId}/manage-appointments(salonId= ${salon.id})}"
                   class="btn btn-primary"
                   th:text="'Manage appointments'"></a>
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                   th:if="${#authentication.getPrincipal().getUsername()} == ${salon.ownerUsername}"
                   th:href="@{/salon/edit/{salonId}(salonId= ${salon.id})}"
                   class="btn btn-warning"
                   th:text="'Edit salon info'"></a>
            </div>
        </div>
    </div>
</div>